{
  "Entries": [
    {
      "RequestUri": "/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/resourcegroups/dmssdkrg?api-version=2015-11-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/resourceGroups/dmssdkrg\",\r\n  \"name\": \"dmssdkrg\",\r\n  \"location\": \"westus2\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/resourceGroups/dmssdkrg/providers/Microsoft.DataMigration/services/dmssdk?api-version=2017-04-15-privatepreview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"properties\": {\r\n    \"virtualSubnetId\": \"/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-WUS2-VNET-5129/subnets/Subnet-1\"\r\n  },\r\n  \"sku\": {\r\n    \"name\": \"PP1\"\r\n  },\r\n  \"location\": \"westus2\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Accepted\",\r\n    \"virtualSubnetId\": \"/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-WUS2-VNET-5129/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"++iCXDaryoTVoQy5Jj67U4r6oqdxiVUwVesh3WxJfWs=\",\r\n  \"id\": \"/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/resourceGroups/dmssdkrg/providers/Microsoft.DataMigration/services/dmssdk\",\r\n  \"kind\": \"vm\",\r\n  \"location\": \"westus2\",\r\n  \"name\": \"dmssdk\",\r\n  \"sku\": {\r\n    \"name\": \"PP1\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "\"++iCXDaryoTVoQy5Jj67U4r6oqdxiVUwVesh3WxJfWs=\""
        ],
        "Retry-After": [
          "30"
        ],
        "Azure-AsyncOperation": [
          "https://management.azure.com/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/providers/Microsoft.DataMigration/locations/westus2/operationStatuses/d905862c-751e-4df1-840b-95d2914cb35b?api-version=2017-04-15-privatepreview"
        ],
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1197"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/providers/Microsoft.DataMigration/locations/westus2/operationStatuses/d905862c-751e-4df1-840b-95d2914cb35b?api-version=2017-04-15-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"name\": \"d905862c-751e-4df1-840b-95d2914cb35b\",\r\n  \"id\": \"/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/providers/Microsoft.DataMigration/locations/westus2/operationStatuses/d905862c-751e-4df1-840b-95d2914cb35b\",\r\n  \"status\": \"Running\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14941"
        ]
      },
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/resourceGroups/dmssdkrg/providers/Microsoft.DataMigration/services/dmssdk?api-version=2017-04-15-privatepreview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\",\r\n    \"publicKey\": \"0;AQAB;wlh9vPN13RwHcvhgUpqlLfyVY1VzIwflsQ5Dh9rE4Q/mO9Zjt1s1JzMIe7KBHDmZoqTcNwVjBrtzgWXnp8x9Q3xkzZKLtA5ltVwXXcAl6aqLehW2wcL7lf7izW7gBfvOsi7sBZet1uVaqn3aXtgQ01jCYinGTtf2fZl/qXCZ6ufPbe5TYV5Nu4fb/oMOiW6QuH22LqIRPx4FlzJmBb6M+D9hcWsntT/dgraJRIudrLOSDE/n0/G0CwDlxCakLyknM2Gica9AeMjSFnlaSRjkzIBsIF3veRT1YnO6ol4yJwXJQJjN+XmOm8FpmbYL06HhVi4T9F//Qfs1BlIVY/MoQQ==\",\r\n    \"virtualSubnetId\": \"/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/resourceGroups/ERNetwork/providers/Microsoft.Network/virtualNetworks/AzureDMS-CORP-WUS2-VNET-5129/subnets/Subnet-1\"\r\n  },\r\n  \"etag\": \"oW2ZHcZ/o2/MxpmrMk11pByUKYJ/OA3P7np68fQGmRM=\",\r\n  \"id\": \"/subscriptions/97181df2-909d-420b-ab93-1bff15acb6b7/resourceGroups/dmssdkrg/providers/Microsoft.DataMigration/services/dmssdk\",\r\n  \"kind\": \"vm\",\r\n  \"location\": \"westus2\",\r\n  \"name\": \"dmssdk\",\r\n  \"sku\": {\r\n    \"name\": \"PP1\"\r\n  },\r\n  \"type\": \"Microsoft.DataMigration/services\"\r\n}",
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ],
        "ETag": [
          "\"oW2ZHcZ/o2/MxpmrMk11pByUKYJ/OA3P7np68fQGmRM=\""
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "14937"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "97181df2-909d-420b-ab93-1bff15acb6b7"
  }
}